:root{
    --white:#ffff;
    --black:#000000;
    --dark:#232830;
    --primary: #081B29;
    --title: #10D0F2;
    --text: #EDEDED;
    --secondary:#008287;
    --block:#00ABF0;

    --producto:15px;
    --formulario:16px;
    --boton:20px;
    --titulo:24px;
}

*{
    padding: 0;
    margin: 0;
}

/*
titulos -> Press Start 2P
font-family: "Press Start 2P", system-ui;

texto secundario -> IBM Plex Mono
font-family: "IBM Plex Mono", monospace;


font-family: "Lato", sans-serif;
*/

body{
    background-color: var(--primary);
    font-family: "IBM Plex Mono", monospace;
}

/*------------------------*/
/*--------START NAV----------*/
/*------------------------*/
.main-nav{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.nav-logo img{
    width: 20px;
    height: 20px;
}
.nav-title h1{
    padding-left: 10px;
    font-size: var(--titulo);
    color: var(--text);
    font-family: "Press Start 2P", system-ui;
}
/*----------------------*/
/*--------END NAV----------*/
/*----------------------*/


/*------------------------*/
/*--------START MAIN----------*/
/*------------------------*/
.main-container{
    display: flex;
}
/*----------------------*/
/*--------END MAIN----------*/
/*----------------------*/


/*------------------------*/
/*--------START PRODUCTOS----------*/
/*------------------------*/
.cards-main{
    margin: 15px;
    width: 100%;
}

.cards-main h1{
    color: var(--text);
    font-size: var(--titulo);
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}


.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);/*Se llenara automaticamente de las columnas del mismo tamaño que quepan*/
    gap: 26px;
    place-content: center;
}

.product-card{
    width: 140px;
}
.product-card img{
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;/*La img tendra su tamaño original, independientemente del with y height*/
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
.product-info p{
    color: var(--text);
}  
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text);
  }
/*----------------------*/
/*--------END PRODUCTOS----------*/
/*----------------------*/


/*------------------------*/
/*--------START FORMULARIO----------*/
/*------------------------*/
.formulario-main{
    width: 100%;
    margin: 20px;
}
.formulario-main h1{
    color: var(--text);
    font-size: var(--titulo);
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}



.form{
    display: flex;
    flex-direction: column;
    padding: 15px;    
}
.form div{
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--formulario);
    color: var(--block);
    font-weight: bold; /*Grosor de la fuente*/
    margin-bottom: 4px;
}
.input{
    background-color: var(--text);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-name,
.input-email,
.input-password{
    margin-bottom: 22px;
} 
/*Sign Up*/
.input-email{
    margin-bottom: 22px;
}
.primary-button{
    background-color: #10D0F2;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;/*Sea del tamaño completo*/
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid #10D0F2;
    color: #10D0F2;
    width: 100%;/*Sea del tamaño completo*/
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}



/* Ocultar el input de archivo original */
input[type="file"] {
    display: none;
}

/* Estilo del contenedor personalizado */
.file-upload-wrapper {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

/* Estilo del texto que muestra el nombre del archivo */
.file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: var(--secondary);
    opacity: 0.5;
}
/*----------------------*/
/*--------END FORMULARIO----------*/
/*----------------------*/


/*------------------------*/
/*--------START FOOTER----------*/
/*------------------------*/
.footer-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.footer-title h1{
    padding-left: 10px;
    font-size: var(--titulo);
    color: var(--block);
    font-family: "Press Start 2P", system-ui;
}

.footer-logo img{
    width: 20px;
    height: 20px;
}
/* .footer-info{
    justify-content: center;
} */

.footer-info h2{
    font-size: var(--sm);
    text-align: center;
    color: var(--secondary);
    opacity: 0.5;
}
/*----------------------*/
/*--------END FOOTER----------*/
/*----------------------*/

@media (min-width: 374px ) and (max-width: 768px){
    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }
    }
